body{
    overflow-x: hidden;
}

.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding: 0 80px;
  background: linear-gradient(135deg, #020617, #0a2d7e);
  color: white;
}

.hero-left {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

.hero-left h1 span {
  color: #14b9ff;
}
.hero-left h1 span:hover{
  color: #f3d31c;
}

.hero-left h2 {
  font-size: 26px;
  color: #57d657;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 18px;
  color: #a4e3ee;
  line-height: 1.6;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.primary {
  background-color: #2effff;
  color: #020617;
}

.primary:hover {
  background-color: #6bf31c;
  font-weight: bold;
}

.secondary {
  border: 1px solid #f0ce12;
  color: #38bdf8;
}

.secondary:hover {
  background-color: #f7e331;
  color: #000000;
  font-weight: bold;
}



/* Hero section right side image styling */

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  max-width: 70%;
  height: auto;
    border-radius: 12px;
    box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.5);
    margin-left: 100px;
}





/* Animation for hero left section */


.hero-left {
  animation: fadeSlide 1s ease forwards;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Image hover effect */

.hero-right img {
  
    box-shadow: 0px 0px 50px rgb(19, 41, 165);
  border-radius: 50%;
  transition: all 0.6s ease;
}

.hero-right img:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 50px rgb(185, 185, 185);


}


.btn:hover {
  transform: translateY(-5px);
}


/* Responsive Design */



@media (max-width: 1024px) and (min-width: 481px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    gap: 10px;
  }
  .hero-left h1 {
    font-size: 36px;
  }
  hero-left h2 {
    font-size: 24px;
  }

  .hero-left h2 {
    font-size: 22px;
  }
  .hero-left{
    /* max-width: 100%; */
    margin-top:0px;
  }
  .hero-left .hero-buttons {
    justify-content: center;
    margin-bottom: 30px;
  } 
  .hero-right .hero-image img {
    width: 340px;
    height: 300px;
   
  }
}
  .hero-right {
    margin-left: 0;
  }

@media (max-width: 480px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0 20px;
    gap: 15px;
  }
  .hero-left h1 {
    font-size: 28px;
  }
  .hero-left h2 {
    font-size: 20px;
  }
  .hero-left p {
    font-size: 16px;
  }
  .hero-left{
    /* max-width: 100%; */
    margin-top:0px;
  }
  .hero-left .hero-buttons {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    margin: 20px auto
  }
  .hero-right .hero-image img {
    width: 300px;
    height: 250px;;
  }
  /* .hero-right .hero-image{
    margin: 0 auto;
} */
}


