@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.projects {
  padding: 80px 10%;
  background: #0f172a;
  color: white;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  color: #f8e838;
}

.section-subtitle {
  text-align: center;
  color: #34e620;
  margin-bottom: 30px;
  font-size: 1.2rem;  
  margin-top: 5px;   
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1e293b;
  border-radius: 15px;
  padding: 20px;
  transition: 0.3s ease;
  max-width: 380px;
  height: auto;
  transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.project-card:hover {
   border: 1px solid #38bdf8;
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  height: auto;
    transition: transform 0.4s ease;

}
.project-card img:hover {
  transform: scale(1.05);
}

.project-card h3 {
  margin: 15px 0 10px;
  color: #3ac210;
}

.project-card p {
  font-size: 0.9rem;
  color: #e2d111;
  margin-bottom: 12px;
}

.tech-stack span {
  background: #a00481;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 8px;
  color: #f3f0f1;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.project-links a {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 14px;
  flex: 1;
  text-align: center;
}

.project-links .first-link:hover {
  background-color: rgb(47, 243, 8);
  color: #022b58;
  font-weight: bold;
}
.project-links .live-link:hover {
  background-color: #ea0404;
  color: #f1f5f9;
  font-weight: bold;
}

.project-links a:first-child {
  border: 1px solid #0ab0f8;
  color: #38bdf8;
}

.project-links a:last-child {
  background: #38bdf8;
  color: #0f172a;
}



@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) and (min-width: 481px) {

  .projects {
    padding: 50px 20px;
  }

  .projects-grid {
    grid-template-columns: 2fr;
  }

  .project-card {
    padding: 18px;
  }
  .project-card img {
  width: 100%;
  border-radius: 12px;
}


}


@media (max-width: 481px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
