@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


.skills {
  padding: 80px 20px;
  background: #120153;
  color: rgb(253, 240, 1);
  box-shadow: 2px 0px 25px rgba(133, 132, 132, 0.929);
}
.skills container {
  max-width: 1200px;
  margin: 0 auto;
}
.skills h2 {
  text-align: center;
  margin-bottom: 40px;
    font-size: 3rem;
    letter-spacing: 3px;
    
    
    
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.skill-card {
  background: #36048d;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease;
  color: white;
  transition: all 0.5s ease;
}

.skill-card:hover {
  transform: translateY(-6px);
  background: #298e0f;
    box-shadow: 0px 0px 20px rgba(233, 234, 233, 0.8);
    color: #ffffff;
    font-weight: bold;
}

.skill-card h3 {
  margin-bottom: 10px;
}

.skill-card p {
  opacity: 0.7;
}

/* Responsive Design */

@media (max-width: 1024px) and (min-width: 481px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}