.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding: 0 80px;
  background: linear-gradient(135deg, #020617, #0a2d7e);
  color: white;
}

.hero-left {
  max-width: 600px;
}

.hero-left h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

.hero-left h1 span {
  color: #38bdf8;
}

.hero-left h2 {
  font-size: 26px;
  color: #cbd5f5;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 16px;
  color: #94a3b8;
  line-height: 1.6;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.primary {
  background-color: #38bdf8;
  color: #020617;
}

.primary:hover {
  background-color: #0ea5e9;
}

.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.secondary:hover {
  background-color: #38bdf8;
  color: #020617;
}



/* Hero section right side image styling */

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  max-width: 70%;
  height: auto;
    border-radius: 12px;
    box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.5);
    margin-left: 100px;
}



/* Animation for hero left section */


.hero-left {
  animation: fadeSlide 1s ease forwards;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Image hover effect */

.hero-right img {
  transition: 0.4s ease;
}

.hero-right img:hover {
  transform: scale(1.04);
  box-shadow: 0 12px 24px rgba(236, 236, 236, 0.6);
}


.btn:hover {
  transform: translateY(-5px);
}


/* Responsive Design */



