*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
nav{
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  z-index: 1000;
  box-shadow: 10px 8px 15px rgba(228, 224, 224, 0.2);
}
nav ul{
    list-style: none;
    display: flex;
    padding-right: 50px;
    gap: 50px;
}

nav ul a{
    text-decoration: none;
    font-weight: bold;
    color: #cbd5f5;;
    /* padding-right: 50px; */
}

nav ul a:hover{
    color: #38bdf8;
}
nav img{
    height: 180px;
    width: 220px;
    padding-left: 50px;
    ;
}

nav ul li{
    font-size: 18px;
} 
nav ul #contact li{
    background-color: #fefefe;
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(46, 33, 230);
}
nav span {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}