@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


.skills {
  padding: 80px 20px;
  background: #120153;
  color: white;
  box-shadow: 2px 0px 25px rgba(133, 132, 132, 0.929);
}
.skills container {
  max-width: 1200px;
  margin: 0 auto;
}
.skills h2 {
  text-align: center;
  margin-bottom: 40px;
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px rgba(228, 245, 241, 0.5);
    
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.skill-card {
  background: #36048d;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease;
  color: white;
}

.skill-card:hover {
  transform: translateY(-6px);
  background: #1b7604;
    box-shadow: 2px 10px 16px rgba(242, 240, 240, 0.3);
    color: #ffffff;
    font-weight: bold;
}

.skill-card h3 {
  margin-bottom: 10px;
}

.skill-card p {
  opacity: 0.7;
}
